<% page.title = (theme.customize && theme.customize.homepage_subtitle) || 'Home'; %>

<div class="post-list" id="post-list">
  <% page.posts.each(function(post) { %>
  <%- partial('_partial/post-item', { post: post }) %>
  <% }) %>
</div>

<%- partial('_partial/pagination') %>
